<%= form_with(model: tweet, class: "row g-3") do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-12">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="col-12">
    <%= form.label :user_name, class: "form-label" %>
    <%= form.text_field :user_name, class: "form-control" %>
  </div>

  <div class="col-12">
    <% if tweet.new_record? %>
      <%= form.submit "Crear tweet", class: "btn btn-primary" %>
    <% else %>
      <%= form.submit "Actualizar tweet", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

