
<p style="color: green"><%= notice %></p>
<h1>Tweets</h1>
<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Mostrar este tweet", tweet %>
    </p>
    <hr>
  <% end %>
</div>
<%= link_to "Nuevo tweet", new_tweet_path %>
<%== pagy_bootstrap_nav(@pagy) %>


